.main, header{
     text-align:center;
     text-shadow:1px 1px 1px gray;
   }
  
   body{
     
     text-shadow:1px 1px 1px gray;
   }

   .antes{
     display: inline;
     padding-left: 15px;
     margin-left: 16px;
     text-align: center;
     height: 100px;
   } 

   #botao{
    background-color:darkviolet;
    border:none;
    color:white;
    padding: 15px 40px;
    text-align:center;
    text-decoration:none;
    font-size:16px;
   } 
   label{
     text-shadow:1px 1px 1px gray;
     margin-left:15px;
   }